<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidaddicts.opengl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".foundation.MainFoundationActivity" />
        <activity android:name=".foundation.music.MainMusicActivity" />
        <activity android:name=".foundation.music.SoundPoolActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".foundation.music.MusicPlayerActivity" />
        <activity android:name=".foundation.dataexchange.MainSocketActivity" />
        <activity android:name=".foundation.dataexchange.SocketClientActivity" />
        <activity android:name=".foundation.dataexchange.BluetoothChatActivity" />
        <activity
            android:name=".foundation.dataexchange.BluetoothDeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity android:name=".foundation.openglbase.OpenGlBaseActivity" />
        <activity android:name=".foundation.openglbase.triangle.OpenglTriangleActivity" />
        <activity android:name=".foundation.openglbase.proj.ortho.OrthogonalProjectionActivity" />
        <activity android:name=".foundation.openglbase.proj.MainProjectionActivity"></activity>
    </application>

</manifest>